<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GrupoOnzeFaculdade</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GrupoOnzeFaculdade.styles.css" asp-append-version="true" />
</head>
<style>
    /* Estilos CSS */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px 0;
    }

    nav {
        background-color: #444;
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 0 10px;
        }

    section {
        padding: 20px;
    }

    .campus {
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .campus h2 {
            color: #333;
        }

    .noticias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .noticia {
        width: 30%;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

        .noticia h3 {
            color: #333;
        }

        .noticia p {
            color: #666;
        }

    .cursos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .curso {
        width: 30%;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

        .curso h3 {
            color: #333;
        }

        .curso img {
            width: 100%; /* Todas as imagens ocuparão 100% da largura da div */
            height: auto; /* Manter a proporção da imagem */
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .curso p {
            color: #666;
        }
</style>
    
<body>
        <header style="background-color:midnightblue">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3" style="background-color:midnightblue">
                <div class="container-fluid" style="background-color:midnightblue">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color:aliceblue">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="background-color:midnightblue; text-align:center">
                        <ul class="navbar-nav flex-grow-1" style="text-align:center">
                            <li class="nav-item" style="background-color:midnightblue">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="color:aliceblue !important; text-align:center">Home   |</a>
                            </li>
                            <li class="nav-item" style="background-color:midnightblue">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CadastroAluno" asp-action="Index" style="color:aliceblue !important; text-align:center">Cadastro de Aluno - CRUD   |</a>
                            </li>
                            <li class="nav-item" style="background-color:midnightblue">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PoliticaSeguranca" style="color:aliceblue !important; text-align:center">Cartilha de Segurança   |</a>
                            </li>

                            <li class="nav-item" style="background-color:midnightblue">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pdf" asp-action="Pdf" style="color:aliceblue !important; text-align:center">Documento - PROJETO INFRAESTRUTURA DE REDES</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GrupoOnzeFaculdade - <a asp-area="" asp-controller="Pdf" asp-action="Pdf" style="color:midnightblue !important; text-align:center">Documento - PROJETO INFRAESTRUTURA DE REDES</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


